@page "/animals"

<PageTitle>Animals</PageTitle>

<h1>Animals</h1>

<div class="card-container d-flex flex-wrap">
  @foreach (var animal in animals)
  {
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/animals/@animal.Image" alt="Image of @animal.English" />
      <div class="card-body">
        <div>
          <span>@animal.English</span>
          <span>@animal.Polish</span>
        </div>
      </div>
    </div>
  }
</div>

@code {
  private List<DefinitionWithImage> animals = new List<DefinitionWithImage>
    {
        new DefinitionWithImage { Image = "ant.png", English = "Ant", Polish = "Mrówka" },
        new DefinitionWithImage { Image = "bear.png", English = "Bear", Polish = "Niedźwiedź" },
        new DefinitionWithImage { Image = "bee.png", English = "Bee", Polish = "Pszczoła" },
        new DefinitionWithImage { Image = "bird.png", English = "Bird", Polish = "Ptak" },
        new DefinitionWithImage { Image = "butterfly.png", English = "Butterfly", Polish = "Motyl" },
    };
}
