@page "/"

<PageTitle>Słownik</PageTitle>

<h1>Słownik</h1>

<div class="d-flex flex-wrap justify-content-between">
  @foreach (var definition in definitions)
  {
    <NavLink class="card" style="width: 18rem; text-decoration: none; color: black;" href="@definition.Target">
      <img class="card-img-top" src="/home/@definition.Image" alt="Image of @definition.English" />
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <span>@definition.English</span>
          <span>@definition.Polish</span>
        </div>
      </div>
    </NavLink>
  }
</div>

@code {
    private List<DefinitionWithImageLink> definitions = new List<DefinitionWithImageLink>
    {
        new DefinitionWithImageLink { Image = "alphabet.png", English = "Alphabet", Polish = "Alfabet", Target = "/alphabet" },
        new DefinitionWithImageLink { Image = "animals.png", English = "Animals", Polish = "Zwierzęta", Target = "/animals" },
        new DefinitionWithImageLink { Image = "colours.png", English = "Colours", Polish = "Kolory", Target = "/colours" },
        new DefinitionWithImageLink { Image = "drinks.png", English = "Drinks", Polish = "Napoje", Target = "/drinks" },
    };
}
